<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CPSC 471 Website</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/default.css}">
</head>
<body>
    <div class="container" id="page-main">
        <div class="nav-main" id="nav-body">
            <nav id="navigation-bar">
                <div class="logo">
                    <img src="img/small.jpg" width="5%" height="5%">
                </div>
                <div class="nav-links">
                    <ul>
                        <li><a href="#" th:href="@{/home}">Home</a></li>
                        <li><a href="#" th:href="@{/games}">Games</a></li>
                        <li><a href="#" th:href="@{/cards}">Cards</a></li>
                        <li><a href="#" th:href="@{/season}">Season</a></li>
                        <li><a href="#" th:href="@{/account}">Account</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div id="content-body" class="content-main">
            <h1>Account</h1>
            <div id="login-form">
                <h1>Login</h1>
                <form th:action="@{/accountlogin}" method="post">
                    <input type="text" id="username" placeholder="Username">
                    <input type="password" id="password" placeholder="Password">
                    <input type="submit" id="login-btn" value="Login">
                </form>
            </div>
            <div id="create-account">
                <h1>Create Account</h1>
                <form th:action="@{/accountcreate}">
                    <input type="text" id="username" placeholder="New Username">
                    <input type="text" id="password" placeholder="Password">
                    <input type="text" id="displayName" placeholder="Display Name">
                    <input type="submit" id="create-button" value="Create Account">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
