<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CPSC 471 Website</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/cardStyle.css">
    <link rel="stylesheet" th:href="@{css/default.css}">
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container" id="page-main">
        <div class="nav-main" id="nav-body">
            <nav id="navigation-bar">
                <div class="logo">
                    <img src="img/logo.jpg" width="25%" height="25%">
                </div>
                <div class="nav-links">
                    <ul>
                        <li><a href="#" th:href="@{/home}">Home</a></li>
                        <li><a href="#" th:href="@{/games}">Games</a></li>
                        <li><a href="#" th:href="@{/cards}">Cards</a></li>
                        <li><a href="#" th:href="@{/season}">Season</a></li>
                        <li><a href="#" th:href="@{/account}">Account</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div id="content-body" class="content=main">
            <div class="page-title" id="page-title">
                <h1>Cards</h1>
            </div>
            <div class="cards-display">
                <div class="cards-to-choose">
                    <div class="row" id="cards-here">
                        <div class="card-holder show" id="1-holder">
                            <img src="img/1.jpg" id="1" class="card draggable body-only" draggable="true">
                        </div>

                        <div class="card-holder show" id="2-holder">
                            <img src="img/2.jpg" id="2" class="card draggable body-only" draggable="true">
                        </div>

                        <div class="card-holder show" id="3-holder">
                            <img src="img/3.jpg" id="3" class="card draggable body-only" draggable="true">
                        </div>

                        <div class="card-holder show" id="4-holder">
                            <img src="img/4.jpg" id="4" class="card draggable body-only" draggable="true">
                        </div>

                        <div class="card-holder show" id="5-holder">
                            <img src="img/5.jpg" id="5" class="card draggable body-only" draggable="true">
                        </div>

                        <div class="card-holder show" id="6-holder">
                            <img src="img/6.jpg" id="6" class="card draggable body-only" draggable="true">
                        </div>

                        <div class="card-holder show" id="7-holder">
                            <img src="img/7.jpg" id="7" class="card draggable body-only" draggable="true">
                        </div>

                        <div class="card-holder show" id="8-holder">
                            <img src="img/8.jpg" id="8" class="card draggable body-only" draggable="true">
                        </div>

                        <div class="card-holder show" id="101-holder">
                            <img src="img/101.jpg" id="101" class="card draggable hand-only" draggable="true">
                        </div>

                        <div class="card-holder show" id="102-holder">
                            <img src="img/102.jpg" id="102" class="card draggable hand-only" draggable="true">
                        </div>

                        <div class="card-holder show" id="103-holder">
                            <img src="img/103.jpg" id="103" class="card draggable hand-only" draggable="true">
                        </div>

                        <div class="card-holder show" id="104-holder">
                            <img src="img/104.jpg" id="104" class="card draggable hand-only" draggable="true">
                        </div>

                        <div class="card-holder show" id="105-holder">
                            <img src="img/105.jpg" id="105" class="card draggable hand-only" draggable="true">
                        </div>

                        <div class="card-holder show" id="106-holder">
                            <img src="img/106.jpg" id="106" class="card draggable hand-only" draggable="true">
                        </div>

                        <div class="card-holder show" id="107-holder">
                            <img src="img/107.jpg" id="107" class="card draggable hand-only" draggable="true">
                        </div>

                        <div class="card-holder show" id="108-holder">
                            <img src="img/108.jpg" id="108" class="card draggable hand-only" draggable="true">
                        </div>

                        <div class="card-holder show" id="1101-holder">
                            <img src="img/1101.jpg" id="1101" class="card draggable hand-only" draggable="true">
                        </div>
                    </div>

                </div>
                <div class="deck-cards">
                    <h1>Deck Cards</h1>
                    
                    <div class="hand-card">
                        <h1>Hand cards</h1>
                        <div id="hand-card-slot1" class="selected-card-sub slot-1 outline-unselected-hand hand-card-slot-holder">

                        </div>
                        <div id="hand-card-slot2" class="selected-card-sub slot-2 outline-unselected-hand hand-card-slot-holder">

                        </div>
                        <div id="hand-card-slot3" class="selected-card-sub slot-3 outline-unselected-hand hand-card-slot-holder">

                        </div>
                    </div>
                    <button class="save-button" id="save-button">SAVE</button>
                    <div class="body-card">
                        <h1>Body cards</h1>
                        <div id="body-card-slot1" class="selected-card-sub slot-1 outline-unselected-body body-card-slot-holder">

                        </div>
                        <div id="body-card-slot2" class="selected-card-sub slot-2 outline-unselected-body body-card-slot-holder">

                        </div>
                        <div id="body-card-slot3" class="selected-card-sub slot-3 outline-unselected-body body-card-slot-holder">

                        </div>
                    </div>
                </div>

                <div class="ads-slot">
                    <h1>Your ad here</h1>
                </div>
                
                
            </div>
        </div>
    </div>
    <script th:src="@{js/onStartCards.js}"></script>
    <script th:src="@{js/cardsApp.js}"></script>



</body>
</html>
