<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CPSC 471 Website</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/gameStyle.css}">
    <link rel="stylesheet" th:href="@{css/cardStyle.css}">
    <link rel="stylesheet" th:href="@{css/default.css}">
    <script defer th:src="@{js/gameSelectApp.js}"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container" id="page-main">
        <div class="nav-main" id="nav-body">
            <nav id="navigation-bar">
                <div class="logo">
                    <img src="img/small.jpg" width="5%" height="5%">
                </div>
                <div class="nav-links">
                    <ul>
                        <li><a href="#" th:href="@{/home}">Home</a></li>
                        <li><a href="#" th:href="@{/games}">Games</a></li>
                        <li><a href="#" th:href="@{/cards}">Cards</a></li>
                        <li><a href="#" th:href="@{/season}">Season</a></li>
                        <li><a href="#" th:href="@{/account}">Account</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div id="content-body" class="content=main">
            <div class="page-title" id="page-title">
                <h1>Games</h1>
            </div>
            <div id="game-select" style="text-align: center; align-items: center;">
                <p style="font-size: 24px;">For initial testing purposes, the only available mode to play right now is vs AI.</p>
                <p style="font-size: 24px;">After selecting your cards on the Cards screen, please hit Play!</p>
                <div class="selected-card-sub outline-unselected-hand" id="hand-card-selected">
                    
                </div>
                <div class="selected-card-sub outline-unselected-body" id="body-card-selected">
                    
                </div>
                <button id="play-button-submit" style="background-color: red; padding: 3%;"></button>
            </div>
            <div class="deck-cards" id="deck-cards">
                <h1>Deck Cards</h1>
                <div class="hand-card">
                    <h1>Hand cards</h1>
                    <div id="slot1-hand-holder" class="selected-card-sub-style slot-1 outline-selected-hand">

                    </div>
                    <div id="slot2-hand-holder" class="selected-card-sub-style slot-2 outline-selected-hand">

                    </div>
                    <div id="slot3-hand-holder" class="selected-card-sub-style slot-3 outline-selected-hand">

                    </div>
                </div>
                <div class="body-card">
                    <h1>Body cards</h1>
                    <div id="slot1-body-holder" class="selected-card-sub-style slot-1 outline-selected-body">

                    </div>
                    <div id="slot2-body-holder" class="selected-card-sub-style slot-2 outline-selected-body">

                    </div>
                    <div id="slot3-body-holder" class="selected-card-sub-style slot-3 outline-selected-body">

                    </div>
                </div>
                
            </div>
            <div class="ads-slot">
                <h1>Your ad here</h1>
            </div>
        </div>
    </div>
    

</body>
</html>