<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CPSC 471 Website</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/gameStyle.css}">
    <script defer th:src="@{js/gamesApp.js}"></script>
</head>
<body>
    <div id="session-username" type="text" class="hidden" th:value="@{username}" style="display: none;"></div>
    <div id="session-cardhandID" type="text" class="hidden" th:value="@{cardhandID}" style="display: none;"></div>
    <div id="session-cardbodyID" type="text" class="hidden" th:value="@{cardbodyID}" style="display: none;"></div>
    <div class="container" id="page-main">
        <div class="nav-main" id="nav-body">
            <nav id="navigation-bar">
                <div class="logo">
                    <img src="img/logo.jpg" width="100%" height="100%">
                </div>
                <div class="nav-links">
                    <ul>
                        <li><a id="leave-game-button" th:href="@{/games}">Leave Game</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div id="content-body" class="content=main">
            <!-- building up the format in which games will be displayed initially -->
            <div class="game-main" id="game-main">
                
            </div>
        </div>
    </div>



</body>
</html>