<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CPSC 471 Website</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/default.css}">
    <link rel="stylesheet" th:href="@{css/seasonStyle.css}">
    <script defer th:src="@{js/seasonApp.js}"></script>
</head>
<body>
    <div class="container" id="page-main">
        <div class="nav-main" id="nav-body">
            <nav id="navigation-bar">
                <div class="logo">
                    <img src="img/logo.jpg" width="25%" height="25%">
                </div>
                <div class="nav-links">
                    <ul>
                        <li><a href="#" th:href="@{/home}">Home</a></li>
                        <li><a href="#" th:href="@{/games}">Games</a></li>
                        <li><a href="#" th:href="@{/cards}">Cards</a></li>
                        <li><a href="#" th:href="@{/season}">Season</a></li>
                        <li><a href="#" th:href="@{/account}">Account</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div id="content-body" class="content-main">
            <div class="page-title">
                <h1>Season</h1>
            </div>
            <div class="top-container">
                <div id="main-box" class="main-box">
                    

                </div>
            </div>
            
        </div>
    </div>


</body>
</html>